table {
    border: 1px solid black;
    border-collapse: collapse;
}

body {
    margin: 0;
    padding: 5px 0;
    max-height: 100vh;
}

table th,
table td,
table tr {
    border: 1px solid black;
}

table tbody tr > td:nth-child(3) {
    white-space: nowrap;
}

#notecreator {
    display: flex;
}

button {
    flex-shrink: 1;
}

body {
    display: flex;
    min-width: 95vw;
    width: max-content;
    margin: 0;
}

#list {
    flex-grow: 1;
    max-height: 80vh;
    overflow-y: hidden;
    display: flex;
    min-width: min-content;
    flex-direction: column;
}

#list > div:nth-child(2) {
    overflow: auto;
}

#creator {
    flex-shrink: 0;
}

dialog#deckDialog[open] {
    display: grid;
}

dialog#parseDialog[open] {
    display: flex;
    gap: 10px;
}

#parseDialog[open] [data-selected="true"] {
    background-color: #6665;
}

#parseDialog textarea#code {
    width: 50vw;
    height: 50vh;
}

.parserCode {
    display: grid;
}

.parserList > div {
    text-align: center;
    margin-block: 5px;
    padding: 2px;
    cursor: pointer;
}

.parserList > div:nth-child(2n) {
    background-color: #ddd5;
}

#parseDialog .parserList > div:hover {
    background-color: #0008;
    color: white;
}

.testnote {
    display: flex;
}

.testnote:first-child {
    padding-top: 3px;
}

.testfield {
    padding: 2px;
    flex-grow: 1;
    text-align: center;
}

.testfield:not(:last-child) {
    border-right: 1px solid black;
}

#saveMultiple[open] > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5fr 1fr 5fr;
}

#inList,
#outList {
    border: 1px solid gray;
}

#moveToInList {
    justify-self: center;
    cursor: pointer;
    align-self: center;
}

#inList > div,
#outList > div {
    cursor: pointer;
}

#inList::before {
    content: "Decks to save";
}

#inList::before,
#outList::before {
    display: block;
    font-weight: bolder;
    text-align: center;
}

#outList::before {
    content: "All decks";
}

#inList > [data-selected="1"],
#outList > [data-selected="1"] {
    background-color: #ccc;
}

#exportMultiple {
    float: right;
}

#mediaManager[open] {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
}

#mediaList {
    border: 1px solid black;
}

#mediaList div {
    padding: 1px 5px;
    cursor: pointer;
    user-select: none;
}
#mediaList div[data-selected="1"] {
    background-color: #ccc;
}

#mediaData {
    border: 1px solid black;
    display: grid;
}

#mediaData label {
    display: flex;
    justify-self: center;
    align-items: center;
}

#mediaData[data-header="1"]::before {
    content: "Data";
    display: block;
    font-weight: bolder;
    border-bottom: 1px solid black;
}
#addMedia {
    text-align: center;
}
#mediaInfo {
    text-align: center;
}
#mediaCenter {
    padding: 5px;
}
#btns {
    display: flex;
    column-gap: 5px;
    row-gap: 3px;
    flex-wrap: wrap;
    margin-inline: 25px;
    margin-top: 5px;
    max-width: 50%;
    justify-content: center;
}

#btns > button {
    display: block;
}

#fieldlist.firstrun {
    margin: 5px auto;
    padding: 5px;
    border: none;
    color: red;
    font-size: 3em;
    text-align: center;
}

table.firstrun {
    border: none;
}
#firstRunBtn {
    all: unset;
    cursor: pointer;
    width: 100%;
    user-select: none;
}

#firstRunBtn:hover,
#firstRunBtn:focus {
    background-color: #ccc;
}

#firstRunBtn:focus {
    outline: initial;
    border: initial;
}

table.firstrun {
    width: 100%;
}

#deckDialog::before {
    --cols: 5;
    content: attr(data-header);
    grid-row: 1 / span 1;
    grid-column: 1 / span var(--cols);
}
#saveParserCode {
    margin-top: 2px;
}
.testCode {
    display: grid;
    grid-auto-flow: column;
    height: fit-content;
    align-items: center;
}

#codeResult {
    grid-row: 2 / span 1;
    grid-column: 1 / span 3;
}
